:root {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  --primary-color: #12254e;
  --secondary-color: #696969;
}

body {
  margin: 0;
}

.banner-container {
  background-color: var(--primary-color);
  padding: 4rem 0 4rem 0;
  width: 100%;
  color: white;
  display: flex;
  justify-content: start;
}

.banner-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.banner-content {
  width: 1200px;
}

.banner-text {
  width: 600px;
}

@media only screen and (max-width: 1220px) {
  .banner-content {
    width: 900px;
  }
  .banner-text {
    width: 500px;
  }
}

@media only screen and (max-width: 920px) {
  .banner-content,
  .banner-text {
    width: 500px;
  }
}

@media only screen and (max-width: 510px) {
  .banner-content,
  .banner-text {
    width: 90%;
  }
}

.solutions-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 4rem 0 4rem 0;
}

.solutions-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.solutions-content {
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: start;
}

.solutions-content-wrapper {
  padding-right: 3rem;
}

.solutions-image {
  width: 600px;
}

@media only screen and (max-width: 1220px) {
  .solutions-content {
    width: 450px;
  }
  .solutions-image {
    width: 450px;
  }

  .solutions-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}

@media only screen and (max-width: 920px) {
  .solutions-wrapper {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .solutions-content {
    align-self: center;
    width: 500px;
  }
  .solutions-image {
    width: 500px;
    align-self: center;
  }

  .solutions-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}

@media only screen and (max-width: 510px) {
  .solutions-wrapper {
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }
  .solutions-content {
    align-self: center;
    width: 90%;
  }
  .solutions-image {
    width: 90%;
    align-self: center;
  }

  .solutions-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
  }
}

.brand-container {
  background-color: #f3f7fd;
  padding: 4rem 0 4rem 0;
}

.brand-container .brand-header {
  margin: auto;
  text-align: center;
  width: 900px;
  padding: 0 0 2rem 0;
}

.brand-header-h1 {
  color: var(--primary-color);
}

.brand-header-p {
  color: var(--secondary-color);
}

.brand-grid-container {
  margin: auto;
  width: 1200px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1.2rem;
  row-gap: 2rem;
}

.brand-grid-container .grid-item {
  background-color: white;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand-grid-container .brand-logo {
  width: 100%;
}

.brand-grid-container .brand-text {
  color: var(--secondary-color);
  font-size: 16px;
  text-align: center;
}

.brand-grid-container .brand-button-container {
  display: flex;
  justify-content: center;
}

.brand-grid-container .view-profile-button {
  color: var(--primary-color);
  font-size: 16px;
  padding: 6px 12px 6px 12px;
  border-radius: 6px;
  border: solid var(--primary-color) 2px;
}

@media only screen and (max-width: 1220px) {
  .brand-grid-container {
    width: 900px;
    grid-template-columns: auto auto auto auto;
  }
  .brand-container .brand-header {
    width: 690px;
  }
}

@media only screen and (max-width: 920px) {
  .brand-grid-container {
    width: 500px;
    grid-template-columns: auto auto;
  }
  .brand-container .brand-header {
    width: 500px;
  }
}

@media only screen and (max-width: 510px) {
  .brand-grid-container {
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: auto auto;
  }
  .brand-container .brand-header {
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (max-width: 400px) {
  .brand-grid-container {
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
    grid-template-columns: auto;
  }
  .brand-container .brand-header {
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
