:root {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  --primary-color: #12254e;
  --secondary-color: #696969;
}

body {
  margin: 0;
}

.container {
  width: 100%;
}

.banner-container {
  background-color: var(--primary-color);
  padding: 12rem 0 12rem 0;
  width: 100%;
}

.solutions-container {
  padding: 12rem 0 12rem 0;
  width: 100%;
}

.brand-container {
  background-color: #f3f7fd;
  padding: 4rem 0 4rem 0;
}

.brand-container .brand-header {
  margin: auto;
  text-align: center;
  width: 900px;
  padding: 0 0 2rem 0;
}

.brand-header-h1 {
  color: var(--primary-color);
}

.brand-header-p {
  color: var(--secondary-color);
}

.brand-grid-container {
  margin: auto;
  width: 1200px;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  gap: 1.2rem;
}

.brand-grid-container .grid-item {
  background-color: white;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.brand-grid-container .brand-logo {
  width: 100%;
}

.brand-grid-container .brand-text {
  color: var(--secondary-color);
  font-size: 16px;
  text-align: center;
}

.brand-grid-container .brand-button-container {
  display: flex;
  justify-content: center;
}

.brand-grid-container .view-profile-button {
  color: var(--primary-color);
  font-size: 16px;
  padding: 6px 12px 6px 12px;
  border-radius: 6px;
  border: solid var(--primary-color) 2px;
}
