* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0px;
}

.line-height-30 {
  line-height: 30px;
  color: #585858;
  font-size: 20px;
}

.line-height-30-header {
  font-size: 40px;
  font-weight: 700;
  color: #091d46;
}

.content-container {
  max-width: 1200px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media only screen and (max-width: 992px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.banner {
  background-image: url("./assets/banner-background.jpg");
  background-size: cover;
  background-position-x: right;
  padding: 4rem 0rem 4rem 0rem;
}

.grid-cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.grid-card {
  border: 1px solid rgba(9, 29, 70, 0.1);
  border-radius: 10px;
  padding: 50px;
}

.grid-card .header {
  color: #091d46;
  font-size: 25px;
  font-weight: 700;
}

.grid-card .text {
  line-height: 25px;
  color: #585858;
}

@media only screen and (max-width: 992px) {
  .grid-cards-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media only screen and (max-width: 576px) {
  .grid-cards-container {
    grid-template-columns: 1fr;
  }
}

.text-content-wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.text-content-wrapper-background {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("./assets/background.png");
  background-position: center;
  background-size: cover;
}
.text-content-wrapper > p {
  max-width: 700px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.text-content-wrapper .header {
  color: white;
  font-size: 35px;
  font-weight: 700;
}
